body {
background-color: #F7F4EA;
font-family: 'Montserrat', sans-serif;
}

hr {
    border-width: 1px;
    width: 99%;
}

h1, h2 {
    color: #6A7FF5
}

img {
 width: 80%;
}


.example_1{
   
}


.profile_pic {
  width: 20%;
  height: 20%;
}

.introduction {

}